<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Header-->
<header th:fragment="header" class="bg-dark" style="height: 650px">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center" style="margin-top: 170px">
                    <h1 class="display-5 fw-bolder text-white mb-2">Get a more convenient way to manage your products</h1>
                    <p class="lead text-white-50 mb-4">It was created using spring mvc.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" onclick="focusMethod()">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="https://github.com/rngustj9139/product-management-system">Get Source</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header end-->

</body>
</html>