<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragment/navbar :: navbar}"></div>

<div th:insert="~{fragment/header :: header}" class="mb-xxl-5"></div>

<div class="container" style="max-width: 1000px; margin-top: 250px; margin-bottom: 250px">
  <div class="py-5 text-center">
    <h2>홈 화면</h2>
  </div>

  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" type="button" id="sign-up"
              th:onclick="|location.href='@{/members/add}'|">
        회원 가입
      </button>
    </div>

    <div class="col">
      <button class="w-100 btn btn-dark btn-lg"
              onclick="location.href='items.html'"
              th:onclick="|location.href='@{/login}'|" type="button">
        로그인
      </button>
    </div>
  </div>
  <hr class="my-4">
</div> <!-- /container -->

<div th:insert="~{fragment/footer :: footer}"></div>

<script>
  focusMethod = function getFocus() {
    document.getElementById("sign-up").focus();
  }
</script>

</body>
</html>